.cart-items {
  position: fixed;
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 910;
  transition: opacity 0.5s linear;
}

.list-cart-items {
  height: 50vh;
  overflow-y: scroll;
}

.cart-items-count {
  position: absolute;
  background-color: #e83e8c;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -50%;
  left: 55%;
  z-index: 910;
}

.cart-items-count:hover {
  background-color: #4acdd5;
}

.remove.fa.fa-times {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.remove.fa.fa-times:hover {
  border: 1px solid #4acdd5;
  color: #4acdd5;
}
.form-input-value {
  position: relative;
  margin: 20px 0;
}

.form-input-value {
  border: 2px solid #c0c0c0;
  border-radius: 6px;
  padding: 12px 16px;
  transition: border 0.3s linear;
}

.form-input-value:focus {
  border: 2px solid #ff5151;
}

.select-country {
  position: relative;
  border: 2px solid #c0c0c0;
  border-radius: 6px;
}
.select-country > select {
  color: #2e2e2e;
  outline: none;
}
.select-country > h1 {
  color: #c0c0c0;
  position: absolute;
  top: 10%;
  z-index: -1;
}

.return-cart {
  color: #ff5151;
  opacity: 1;
}
.return-cart:hover {
  opacity: 0.6;
}

.continue-shipping {
  background-color: #ff5151;
  color: #fff;
  border-radius: 6px;
  opacity: 0.9;
}

.continue-shipping:hover {
  background-color: #f64a4a;
  opacity: 1;
}
