.product-action {
  background-color: #fff;
  padding: 4px 2px;
  width: 50px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 4px 4px 5px 1px #eee;
}
.product-name-action:hover {
  color: #17a2b8;
}
.product-item-action {
  cursor: pointer;
}
.product-item-action:hover {
  color: #17a2b8;
}
.sale-mod {
  background-color: #e83e8c;
  top: 10px;
  right: 12px;
}

.new-mod {
  background-color: #17a2b8;
  top: 10px;
  left: 12px;
}

.item-collections {
  width: calc(100% / 3 - 100px);
  margin: auto;
}
.nav-collections {
  background-color: #f8f8f8;
  width: 100%;
  height: 80px;
}
.input-item {
  width: 60%;
}
.input-count {
  width: 30%;
  color: #a3a3a3;
  border: 1px solid #eee;
  border-radius: 8px;
}
.input-count > input:focus {
  outline: none;
}
.add-item {
  width: 100%;
  border-radius: 24px;
  background-color: #4acdd5;
  color: aliceblue;
}
.buy-item {
  cursor: pointer;
  width: 100%;
  border: 1px solid #ff6799;
  color: #ff6799;
  border-radius: 8px;
}
.buy-item:hover {
  background-color: #ff6799;
  color: aliceblue;
}

.view-item {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.9;
}
.section-view-item {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;
  border-radius: 16px;
}

.section-view-item > img {
  background-color: #a5a3a3;
}

.single-collection {
  width: calc(100% / 4 - 100px);
  margin: auto;
  color: #f8f8f8;
  border-radius: 16px;
}
.single-collection > img {
  width: 60%;
  margin: auto;
}
.single-collection:nth-child(odd) {
  background-color: #4acdd5;
}
.single-collection:nth-child(even) {
  background-color: #ff6799;
}

.promotion.fa.fa-play {
  cursor: pointer;
  font-size: large;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  color: #4acdd5;
}

.promotion.fa.fa-play:hover {
  background-color: unset;
  border: 1px solid #17a2b8;
  transform: scale(1.1);
}
