.size-guide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: 998;
}
.size-guide > div {
  position: relative;
  background-color: #fff;
  opacity: unset;
}
.size-guide > div > i {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
}
.size-title,
.size-content {
  border: 1px solid #ddd;
  padding: 8px;
}

.size-content th {
  background-color: #000;
  color: #fff;
}
