.main-animated {
  border-radius: 6px;
}
.animated-img {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s linear;
}
.animated-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  letter-spacing: 2px;
}

.animated-btn-left {
  background-color: #4acdd5;
  transition: all 0.5s linear;
}
.animated-btn-left:hover {
  background-color: #ff6899;
}
.animated-btn-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  animation: animated-btn-left-plus 2s linear infinite;
}
.animated-btn-right {
  background-color: #ff6899;
  transition: all 0.5s linear;
}
.animated-btn-right:hover {
  background-color: #4acdd5;
}
.animated-btn-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  animation: animated-btn-right-plus 3s linear infinite;
}
@keyframes animated-btn-left-plus {
  0% {
    box-shadow: 1px 1px 5px 1px #4acdd5;
    opacity: 0.8;
    /* transform: scale(1); */
  }
  50% {
    box-shadow: 1px 1px 10px 1px #4acdd5;
    opacity: 1;
    /* transform: scale(1.3); */
  }
  100% {
    box-shadow: 1px 1px 5px 1px #4acdd5;
    opacity: 0.8;
    /* transform: scale(1); */
  }
}
@keyframes animated-btn-right-plus {
  0% {
    box-shadow: 1px 1px 5px 1px #ff6899;
    opacity: 0.8;
    /* transform: scale(1); */
  }
  50% {
    /* transform: scale(1.3); */
    box-shadow: 1px 1px 10px 1px #ff6899;
    opacity: 1;
  }
  100% {
    box-shadow: 1px 1px 5px 1px #ff6899;
    opacity: 0.8;
    /* transform: scale(1); */
  }
}
