main {
  animation: allAnimation 0.3s linear;
}
@keyframes allAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0.8;
  }
  100% {
    transform: translateX((0%));
    opacity: 1;
  }
}
