.left-active {
  animation: leftActive 0.5s linear;
}

@keyframes leftActive {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    transform: translateX(-25px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.right-active {
  animation: rightActive 0.5s linear;
}

@keyframes rightActive {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  50% {
    transform: translateX(25px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.jumpActive {
  animation: jump 0.5s linear;
}
@keyframes jump {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.downActive {
  animation: downActive 0.5s linear;
}
@keyframes downActive {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
