.blog {
  width: calc(100% / 3 - 100px);
  margin: 40px;
  border: 1px solid #eee;
  border-radius: 12px;
}
.nav-blog {
  background-color: #f8f8f8;
  width: 100%;
  height: 80px;
}
.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s linear;
}
.content-blog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* số dòng muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-blog {
  background-color: #ff6799;
  color: #fff;
  border-radius: 16px;
}

.fa.fa-angle-left,
.fa.fa-angle-right {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #a4a3a3;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fa.fa-angle-left:hover,
.fa.fa-angle-right:hover {
  color: #fff;
  background-color: #4acdd5;
}

.count-page {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* .hidden {
  display: none;
} */
