.blog {
  width: calc(100% / 3 - 100px);
  margin: 40px;
  border: 1px solid #eee;
  border-radius: 12px;
}
.nav-blog {
  background-color: #f8f8f8;
  width: 100%;
  height: 80px;
}
.content-blog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* số dòng muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-blog {
  background-color: #ff6799;
  color: #fff;
  border-radius: 16px;
}
