.cart-items {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.5s linear;
}

.list-cart-items {
  display: flex;
  flex-direction: column;
}
