.sale-mod {
  background-color: #e83e8c;
  top: 10px;
  right: 12px;
}

.new-mod {
  background-color: #17a2b8;
  top: 10px;
  left: 12px;
}

.item-collections {
  width: calc(100% / 3 -100px);
  margin: auto;
}
.nav-collections {
  background-color: #f8f8f8;
  width: 100%;
  height: 80px;
}
.input-item {
  width: 60%;
}
.input-count {
  width: 30%;
  color: #a3a3a3;
  border: 1px solid #eee;
  border-radius: 8px;
}
.input-count > input:focus {
  outline: none;
}
.add-item {
  width: 100%;
  border-radius: 24px;
  background-color: #4acdd5;
  color: aliceblue;
}
.buy-item {
  cursor: pointer;
  width: 100%;
  border: 1px solid #ff6799;
  color: #ff6799;
  border-radius: 8px;
}
.buy-item:hover {
  background-color: #ff6799;
  color: aliceblue;
}
