.search-item {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 990;
  transition: opacity 0.5s linear;
}
.fa.fa-times-circle {
  color: #fff;
}
.search-item-product,
input {
  background-color: initial;
  color: #ddd;
}
input {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #eee;
}
input:focus {
  outline: none;
}
.list-item-search {
  height: 50vh;
  overflow-y: scroll;
}
.list-item-search {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 16px;
  color: #000;
}
