.questions {
  border-bottom: 1px solid #ddd;
}
.questions:hover {
  color: #4acdd5;
}
.answers-show {
  display: block;
  animation: showAnswers 0.5s linear;
}
@keyframes showAnswers {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
